{% extends 'layout/base.html.twig' %}

{% block body %}
    {% include 'layout/navbar.html.twig' %}
    <div class = "container">
        {% include 'layout/flash.html.twig' %}
        {% block content %}
        {% endblock %}
    </div>
{#    {% include 'layout/footer.html.twig' %}#}
{% endblock %}